body {
  background: #c0ebc0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Quicksand', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap);
}
